.App{

  padding: 30px;

  table{
    width: 100%;
      /* border: 1px solid; */
      border-collapse: collapse;
  }

  th{
    text-align: left;
    border: none;
    background: #ecebeb;
    padding: 4px 10px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
  }

  td{
    border: none;
  }


  td,th{
    border-bottom: 1px solid lightgrey;
  }
}

.m10{
  margin-top: 10px;
}

.matchInfoContainer{
  background: #4a4a4a !important;
    color: #fff !important;
    padding: 8px 10px;
    width: 100%;
}

.p20{
  padding-left: 30px;
}